<!--The content below is only a placeholder and can be replaced.-->
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
</style>

<div class="background-image">
  <div class="relative-div">
    <img width="600" alt="Arkivet Logo" src="assets/arkivet-logo.png" class="logo">
    <div class="semi-transparent-container">
      <h1>Välkommen till arkivet bredgatan 16</h1>
      <app-login></app-login>
      <app-upload></app-upload>
    <br>
    </div>
  </div>
  <app-footer class="footer center"></app-footer>
</div>

<router-outlet></router-outlet>
